.all-intro{
    text-align: center;
    margin-top: 120px;
}

.all-title-container{
    color: hsl(28, 21%, 12%);
    background-color: rgb(85.1% 97.8% 82.2%);
    border: 1px solid rgb(167, 207, 158);
    border-radius: 15px;
    width: fit-content;
    margin: 75px auto 0 auto;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.all-intro h1{ 
    padding: 15px;
}
.all-intro p{
    color: hsl(0 0% 40%);
    font-size: 16px;
}

.mixed-posts{
    width: 80%;
    margin: 80px auto;
}


.details-container{
    display: flex;
    gap: 5px;
}

.details-container img{
    width: 15px;
    height: 15px;
}

.calendar-icon{
    scale: 0.8;
}

.post-place{
    margin-bottom: 5px;
}

